<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <div id="background-evote">
    <%= image_tag "background_image.jpg", class: "img-fluid", size: "cover", :alt => "background_image" %>
  </div>

</html>