<div class="container col-6">
    <div class="py-4">
        <h4><span class="d-flex justify-content-center align-items-center text-secondary mt-3">La elección fue activada!</span></h4>
        <hr class="mb-4">
        <a class="btn btn-success btn-lg btn-block mr-3" href="/elections">Volver al Listado</a>
    </div>
</div>