<tr>
  <td style="text-align:center"><%= proposal.name %></td>
  <td style="text-align:center"><%= proposal.description %></td>
  <td style="text-align:center"><%= link_to 'Agregar Opciones', proposal_path(proposal), class: "text-white btn btn-success btn-sm btn-block" %></td>
</tr>