<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card shadow-lg">
            <div class="form-group row">
                <div class="col-sm-6 col-sm-2">
                    <div class="card-block px-3 py-3 px-sm-4 py-sm-3 px-md-5 py-md-4 px-lg-6 py-lg-5 text-justify">
                        <h5 class="card-title font-weight-bold mb-4">Team TWO</h5>
                        <hr class="mb-4">
                        <p>- Leticia Lado</p>
                        <p>- Mayra Montero</p>
                        <p>- Carolina Rodríguez</p>
                        <p>- Fernando Scocozza</p>
                        <p>- Cristian Vargas</p>
                    </div>  
                </div>
                <div class="col-sm-6"> 
                    <%= image_tag "gearsdraw.jpg", class: "img-fluid rounded mx-auto", size: "cover", :alt => "background_image" %>
                </div>
            </div>
        </div>
    </div>
</div>