
<span class="text-success">Hola <%= @resource.email %>!</span>

<p>Alguien ha solicitado un enlace para cambiar tu contraseña.</p>
<p><%= link_to 'Haz click aquí para cambiarla', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>Su tú no solicitaste esta acción, por favor descarta el mensaje</p>
